h1 {
  font-size: 37px;
  font-weight: bold;
  line-height: 200%;
  border: 2px solid purple;
  text-align: center;
  background-color: pink;
  font-family: times;
}
h2 {
  font-size: 27px;
  text-align: center;
  color: navy;
  font-family: italic;
}
h3 kate {
  background-image:
}
