body {background-color: grey;

}
h1 {
  border-radius: 50% black
  font-size: 37px;
  font-weight: bold;
  line-height: 200%;
  border: 2px solid purple;
  text-align: center;
  background-color: pink;
  font-family: times;
  padding :inherit;
}
body {
  border: 3em solid purple;
}
h2 {
  font-size: 30px;
  text-align: center;
  color: orange;
  font-family: ;
}
h3 {
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
}
p {
  
  text-align: center;
  font-size: 27px;
}




