body {background-color: grey;

}
h1 {
  font-size: 37px;
  font-weight: bold;
  line-height: 200%;
  border: 2px solid purple;
  text-align: center;
  background-color: pink;
  font-family: times;
  padding :inherit;
}
h2 {
  font-size: 30px;
  text-align: center;
  color: orange;
  font-family: ;
}
h3 {
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
}
ol {
  text-align: center;
  font-size: 27px;
}



